* {
  all: unset;
  /* Unsets everything so you can style everything from scratch */
}

$text_color: white;

.date,
#date,
#time,
.time,
#batt,
.batt {
  font-family: "JetBrainsMono NF", monospace;
  font-weight: bold;
  color: $text_color;
  background-color: transparent;
}


.date,
#date {
  font-size: 30pt;
}

#time,
.time {
  font-size: 100pt;
}

#batt,
.batt {
  font-size: 17pt;
}