[Unit]
Description=Idle management daemon for Hyprland
Documentation=man:swayidle(1)

[Service]
Type=simple
ExecStart=/usr/bin/swayidle -w \
    timeout 60 'hyprctl dispatch dpms off eDP-1' \
    resume 'hyprctl dispatch dpms on eDP-1' \
    timeout 1800 'systemctl suspend'
RestartSec=5
Restart=always

[Install]
WantedBy=default.target
